{% extends "blog-templates/base.html" %}
{% block content %}
<article class="media content-section border rounded-3">
    <div class="media-body">
        <h1>About Me</h1>
        <div class="border-bottom mb-3 mt-3"></div>
        <p class="mt-2">My name is Syed Ahamed. Friendly Network is a small community chat for a privately hidden network. It's a pleasure to finally meet you all. Have a wonderful day.</p>
        <div class="border-top mt-3">
        </div>
    </div>
</article>
{% endblock content %}